@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300,400,500,600,700,800,900&display=swap");

. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
   
 background: #dce0e4;   
}
a{
    color: #fff;
    text-decoration: none;


}
.navbar {
width: 100%;
justify-content: space-between;
padding: 20px 10%;
display: flex;
position: fixed;
left: 0;
top: 0;
z-index: 100;
align-items: center;
visibility: hidden;
opacity: 0;
animation: show-content 1.5s linear forwards;
animation-delay: 1.2s;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700; 
}
.navbar .logo:hover{
    color: #5dff06;
}
.navbar ul {
    display: flex;

}
.navbar ul li {
    list-style: none;
    margin-left: 4rem;
    margin-right: 30px;

}
.navbar ul li a {
    margin-left: 4rem;
    font-size: 20px;
    font-weight: 500;
    transition: .3s;
}
.navbar ul li a:hover ,
.navbar ul li a:active {
    color: #5dff06;
}
.home {
    display: flex;
    height: 100vh;
    padding: 60px 9% 0;
    align-items: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
animation: show-content 1.5s linear forwards;
animation-delay: 1.6s;
}
@keyframes show-content {
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.home-info h1{
    font-size: 55px;
}
.home-info h2 {
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
}
.home-info h2 span {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d;
   animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}
@keyframes display-text {
    25%, 100% {
        display: none;
    }
}
.home-info h2 span::before {
    content: attr( data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation: fil-text 4s linear infinite;
}
@keyframes fil-text {
    10%,
    100% {
        width: 0;
        }
    70%,
    90% {
        width: 100%;
       }
}
.home-info p {
    font-size: 20px;
    margin: 10px 0 25px;
}
.home-info .btn-sci {
display: flex;
align-items: center;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
}
.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}
.home-info .btn-sci .sci {
    margin-left: 20px;

}
.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
}
    .home-info .btn-sci .sci a:hover{
        background: #7cf03d;
        color: #1f242d;
        box-shadow: 0 0 10px #7cf03d;
    }
    .home-img img {
        border-radius: 70%;
        box-shadow: 0 0 25px #7cf03d;
    }
    .home-img img:hover {
        box-shadow: 0 0 25px #0f68bb,
                    0 0 35px #0f68bb,
                    0 0 45px #0f68bb;
    }
.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent,
     transparent, #7cf03d);
    transform: rotate(0deg);
animation: rotate-borders 10s linear infinite;
}
.home-img .img-box::after {
    animation-delay: -5s;
}
@keyframes rotate-borders {
    100%{
 transform: rotate(360deg);
    }
}
.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
     border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;

    border: .1px solid #1f242d;
}
.home-img .img-box .img-item img {
    position: absolute;
    top: 30px;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;

}
.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;

    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}
@keyframes show-bars {
    100%{
        transform: translateY(0%);
    }
}
      /*About code section*/
      
      .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1.5rem;
       background: #081a2b;
      }
      .about-img img {
        padding-bottom: 20%;
        max-width: 630px;
        height: auto;
        width: 50%;
        border-radius: 70%;
        box-shadow: 0 0 20px #7cf03d;
    }
    .about-img img:hover {
        box-shadow: 0 0 25px #0f68bb,
                    0 0 35px #0f68bb,
                    0 0 45px #0f68bb;
    }
      .about-content h2 {
        font-size: 60px;

      }
      .about-content h2 span {
        color: #0ef;
      }
      .about-content h4 {
        font-size: 29px;
        font-weight: 600;
        color: #fff;
        line-height: 1.7;
        margin: 15px 0 30px;
      }
      .about-content p {
        color: aliceblue;
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 4rem;
      }
      /*services code section*/

      #services{
        color: aliceblue;
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 4rem;
    
      }
      .sub-title {
        text-align: center;
        font-size: 60px;
        padding-bottom: 70px;
      }
      .sub-title span {
        color: #0ef;

      }
      .container {

        padding: 90px;

      }
      .services-list {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap: 40px;
        margin-top: 50px;
      }
      .services-list div {
        background-color: transparent;
        padding: 40px;
        font-size: 13px;
        font-weight: 13px;
        border-right: 10px;
        border-radius: 20px;
        transition:background 0.5s, transform 0.5s;
        box-shadow: 1px 1px 20px #012290f7,
                    1px 1px 40px #0053b8f7;
      }
      .services-list div i{
        font-size: 50px;
        margin-bottom: 30px;
      }
      .services-list div h2 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;

      }
      .services-list div a{
        text-decoration: none;
        color: #000;
        font-size: 12px;
        margin-top: 20px;
        display: inline-block;
      }
      .Read {
        display: inline-block;
        padding: 12px 20px;
        background: #0ef;
        border-radius: 40px;
        font-size: 16px;
        color: #081b29;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 600;
        opacity: 0;
        animation: slidetop 1s ease forwards;
        animation-delay: 2s;
        box-shadow: 0 0 5px #0ef,
                    0 0 25px #0ef;
      }
      @keyframes slidetop{
        0%{
          transform: translateY(100px);
          opacity: 0;
        }
        100%{
          transform: translateY(0);
          opacity: 1;
        }
      }
      .Read:hover {
        box-shadow: 0 0 5px cyan,
                    0 0 25 cyan,0 0 50px cyan,
                    0 0 100px cyan, 0 0 200px cyan;
                    background: transparent;

      }
      .services-list div:hover {
        transform: translateY(-10px);
      }
      /* skill code section */
      section{
        display: flex;
        flex-wrap: wrap;
        
      }
      .container1{
        width: 600px;
        height: 500px;
        padding: 75px 90px;
        margin-left: 120px;
      }
      .heading1 {
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-thickness: 5px;
        margin-bottom: 50px;
      }
      .bar{
        font-size: 23px;
      }
      .Technical-bars .bar {
        margin-top: 40px 0;
      }
      .Technical-bars .bar:first-child{
        margin-top: 0;
      }
       .Technical-bars .bar:last-child{
        margin-bottom: 0;
      }
      .Technical-bars .bar .info{
        margin-bottom: 5px;
      }
      .Technical-bars .bar .info span{
        font-size: 17px;
        font-weight: 500;
        animation: showtext 0.5s 1s linear forwards;
        opacity: 0;
      }
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: blue;
    animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
    
}

.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.progress-line.html span{
    width: 90%;
   color: #000;;
}
.progress-line.css span{
    width: 60%;
}
.progress-line.Javascript span{
    width: 85%;
}
.progress-line.Python span{
    width: 50%;
}
.progress-line.react span{
    width: 65%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "90%";
}
.progress-line.Javascript span::after{
  content: "90%";
}
.progress-line.react span::after{
  content: "90%";
}
.progress-line span::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.radial-bars{
  width: 100%;
  display: flex;
  position: relative;
  height: 170px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;

}
.radial-bars .radial-bar{
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;

}
.radial-bars .radial-bar svg {
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate(-90deg);
width: 120px;
height: 160px;

}
.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stop-color: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;

}

@keyframes  animate-bar  {
  100%{
    stroke-dashoffset: -1;
  }
  
}

.path{
  stroke-width: 10;
  stroke: #0ef;
  fill: transparent;
  stroke-dashoffset: 502;
  stroke-dasharray: 502;
  stroke-linecap: round;
} 
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
  100%{
    stroke-dashoffset: 50;;
  }
}
@keyframes animate-path2{
  100%{
    stroke-dashoffset: 175;;
  }
}
@keyframes animate-path3{
  100%{
    stroke-dashoffset: 125;;
  }
}@keyframes animate-path4{
  100%{
    stroke-dashoffset: 75;;
  }
}
.radial-bar .percentage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.radial-bar .text{
width: 100%;
position: absolute;
text-align: center;
left: 50%;
bottom: -5px;
transform: translateX(-50px);
font-size: 17px;
font-weight: 500;
animation: showText 0.5s 1s linear forwards;
opacity: 0;

}